﻿@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Inventory</title>
    <link rel="icon" type="~/Theme/image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="~/Theme/image/png" href="favicon-16x16.png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Theme/css/vendor.min.css">
    <link rel="stylesheet" href="~/Theme/css/cosmos.min.css">
    <link rel="stylesheet" href="~/Theme/css/application.min.css">
    <script src="~/Scripts/AngularJS/1.7.4/angular.min.js"></script>
    <script src="~/Scripts/AngularJS/1.7.4/angular-route.min.js"></script>
    <script src="~/Scripts/AngularJS/1.7.4/angular-animate.min.js"></script>
    <script src="~/Scripts/AngularJS/1.7.4/angular-touch.min.js"></script>
    <script src="~/Scripts/AngularJS/1.7.4/angular-aria.min.js"></script>

    <script src="~/Scripts/UI-Grid/ui-grid.js"></script>
    <link href="~/Scripts/UI-Grid/ui-grid.min.css" rel="stylesheet" />

    <script src="~/Scripts/UI-Grid/csv.js"></script>
    <script src="~/Scripts/UI-Grid/pdfmake.js"></script>
    <script src="~/Scripts/UI-Grid/jszip.min.js"></script>
    <script src="~/Scripts/UI-Grid/lodash.min.js"></script>
    <script src="~/Scripts/UI-Grid/vfs_fonts.js"></script>
    <script src="~/Scripts/UI-Grid/excel-builder.dist.js"></script>
    <script src="~/Scripts/Crypto/md5.js"></script>

    <script src="~/Theme/js/vendor.min.js"></script>

    <link href="~/Theme/css/CustomStyle.css" rel="stylesheet" />
    <link href="~/Theme/messageBox/messagebox.css" rel="stylesheet" />
	
	<link href="~/Scripts/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/datetimepicker/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
 
</head>
<body class="layout layout-header-fixed layout-left-sidebar-fixed" ng-app="InventoryApp" ng-controller="IndexController">
    <div class="site-overlay"></div>
    <div class="site-header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <img src="img/PP.jpg" alt="" height="25">
                    <span>Inventory</span>
                </a>
                <button class="navbar-toggler left-sidebar-toggle pull-left visible-xs" type="button">
                    <span class="hamburger"></span>
                </button>
                <button class="navbar-toggler pull-right visible-xs-block" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="more"></span>
                </button>
            </div>
            <div class="navbar-collapsible">
                <div id="navbar" class="navbar-collapse collapse">
                    <button ng-show="IsAuthenticated" ng-click="Kollaps()" id="myMenu" class="navbar-toggler left-sidebar-collapse pull-left hidden-xs" type="button">
                        <span class="hamburger"></span>
                    </button>
                    <ul class="nav navbar-nav">
                        <li class="visible-xs-block">
                            <div class="nav-avatar">
                                <img class="img-circle" src="img/avatars/1.jpg" alt="" width="48" height="48">
                            </div>
                            <h4 class="navbar-text text-center">Welcome, Jon Snow!</h4>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-table dropdown visible-xs-block">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="nav-cell nav-icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </span>
                                <span class="hidden-md-up m-l-15">Account</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Help</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="site-main">
        <div class="site-left-sidebar" ng-show="IsAuthenticated">
            <div class="sidebar-backdrop"></div>
            <div class="custom-scrollbar">
                <ul class="sidebar-menu">
                    <li class="menu-title">
                        Main
                    </li>
                    <li class="with-sub active">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="zmdi zmdi-home"></i>
                            </span>
                            <span class="menu-text">Dashboards</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Dashboards</li>
                            <li class="active"><a href="/#!/Company">Management Company</a></li>
                            <li class="active"><a href="/#!/Site">Management Site</a></li>
                            <li class="active"><a href="/#!/Dept">Management Dept</a></li>
                            <li class="active"><a href="/#!/Unit">Management Unit</a></li>
                            <li class="active"><a href="/#!/Item">Management Material</a></li>
                            <li class="active"><a href="/#!/Vendor">Management Vendor</a></li>
                            <li class="active"><a href="/#!/User">Management User</a></li>
                            <li class="active"><a href="/#!/Project">Management Project</a></li>
                            <li class="active"><a href="/#!/Request">Management Request</a></li>
                            <li class="active"><a href="/#!/SPP">Management SPP</a></li>
                            <li class="active"><a href="/#!/ApprovalSPP">SPP Approval</a></li>
                            <li class="active"><a href="/#!/PO">Management PO</a></li>
                            <li class="active"><a href="/#!/Login">Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        
        <div class="site-content">
            <div class="row">
                <div>
                   @* <div class="outPopUp" ng-show="isLoading"></div>*@
                </div>
                <data-ng-view></data-ng-view>                
            </div>               
        </div>

    </div>
   
    <script src="~/Theme/js/cosmos.min.js"></script>
    <script src="~/Theme/js/application.min.js"></script>
    @*<script src="~/Theme/js/index.min.js"></script>*@
    <script src="~/Theme/messageBox/messagebox.min.js"></script>
    <script src="~/Theme/js/ui-notifications.min.js"></script>

    @Scripts.Render("~/bundles/angularServices")
    @Scripts.Render("~/bundles/crypto")
    @Scripts.Render("~/bundles/Controllers")
	   @Scripts.Render("~/bundles/css")
    @Scripts.Render("~/bundles/datatable")

</body>

</html>