﻿<div  id="docPrint">  
    <div class="mainDoc" style="width: 700px; margin-left: 50px; margin-right: 50px; font-family: arial, sans-serif; font-size: 12px;">
        <div style="float: both; margin-bottom: 60px; margin-top: 40px; ">
            <div style="float:left; width:30%"><img style="width:130px;" src="./images/logo_pp.jpg" /></div>
            <div style="text-align: right; "><span style="color:red;"></span> </div>
        </div>
        <div style="clear:both;"></div>
        <div style="text-align:center; margin-bottom:40px; font-size:large; "><strong>PURCHASE ORDER</strong></div>

        <table width="100%" style="font-family: arial, sans-serif; font-size: 12px;">
            <tr>
                <td width="20%">No PO</td>
                <td width="2%">:</td>
                <td width "78%">{{DTA.PONo}}</td>
            </tr>
            <tr>
                <td>PO Date</td>
                <td>:</td>
                <td>{{DTA.PODate | date:'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
                <td>Deadline Date</td>
                <td>:</td>
                <td>{{DTA.PODeadline | date:'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
                <td>Vendor Name</td>
                <td>:</td>
                <td>{{VendorNameData}}</td>
            </tr>

            <tr>
                <td>Notes</td>
                <td>:</td>
                <td>{{DTA.PONotes}}</td>
            </tr>
            

        </table>
        &nbsp;<br />
        <table id="tbl-data" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th rowspan="2" width="4%">No</th>
                    <th rowspan="2" width="12%">No Request</th>
                    <th rowspan="2" width="8%">Material Name</th>
                    <th rowspan="2" width="8%">Deskripsi</th>
                    <th rowspan="2" width="8%">Harga</th>
                    <th rowspan="2" width="8%">Qty</th>
                    <th rowspan="2" width="8%">Jumlah</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in DataDetail">
                    <td>{{$index + 1}}  </td>
                    <td>{{item.RequestNo}}</td>
                    <td>{{item.ItemName}}</td>
                    <td>{{item.RequestDesc}}</td>
                    <td><div style="text-align:right">{{item.Price | number}}</div></td>
                    <td><div style="text-align:center">{{item.RequestQty}}</div></td>
                    <td><div style="text-align:right">{{item.RequestQty * item.Price | number}}</div></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div style="text-align:right">{{totalAmount | number}}</div></td>
                </tr>
            <tbody>
        </table>

        <div style="float:both;text-align:center;margin-top:30px;margin-bottom:100px;">
            <div style="float: left; width:40%">Mengetahui,</div>
            <div style="float: left; width: 20%; border: 0px solid red; ">&nbsp;</div> 
            <div style="float: left; text-align: right; width: 35%; border: 0px solid red; ">Teweh, {{DTA.PODate | date:'dd-MMMM-yyyy'}}</div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div style="float:both;margin-bottom:10px;text-align:center;">
            <div style="float: left; width:40%">( Department Head ) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (DIvision Head)</div>
            <div style="float: left; width: 20%; border: 0px solid red;">&nbsp;</div> 
            <div style="float: left; width: 35%; text-align: right; border: 0px solid red; "></div>
        </div> 


    </div>
</div>