﻿<div  id="docPrint">  
    <div class="mainDoc" style="width: 700px; margin-left: 50px; margin-right: 50px; font-family: arial, sans-serif; font-size: 12px;">
        <div style="float: both; margin-bottom: 60px; margin-top: 40px; ">
            <div style="float:left; width:30%"><img style="width:130px;" src="./images/logo_pp.jpg" /></div>
            <div style="text-align: right; "><span style="color:red;"></span> </div>
        </div>
        <div style="clear:both;"></div>
        <div style="text-align:center; margin-bottom:40px; font-size:large; "><strong>SURAT PERMINTAAN PEMBELIAN</strong></div>

        <table width="100%" style="font-family: arial, sans-serif; font-size: 12px;">
            <tr>
                <td width="20%">No SPP</td>
                <td width="2%">:</td>
                <td width "78%">{{DTA.SPPNo}}</td>
            </tr>
            <tr>
                <td>SPP Date</td>
                <td>:</td>
                <td>{{CreatedDate | date:'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
                <td>Divisi</td>
                <td>:</td>
                <td>EPC</td>
            </tr>
            

        </table>
        &nbsp;<br />
        <table id="tbl-data" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th rowspan="2" width="5%">No</th>
                    <th rowspan="2" width="15%">No Request</th>
                    <th rowspan="2" width="20%">Material Name</th>
                    <th rowspan="2" width="25%">Description</th>
                    <th rowspan="2" width="15%">Qty</th>
                    <th rowspan="2" width="20%">Project</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in DataDetailReq">
                    <td>{{$index + 1}}  </td>
                    <td>{{item.RequestNo}}</td>
                    <td>{{item.ItemName}}</td>
                    <td>{{item.RequestDesc}}</td>
                    <td><div style="text-align:center">{{item.RequestQty}}</div></td>

                    <td>{{item.ProjectName}}</td>
                </tr>
            <tbody>
        </table>

        <div style="float:both;text-align:center;margin-top:30px;margin-bottom:100px;">
            <div style="float: left; width:40%">Mengetahui,</div>
            <div style="float: left; width: 20%; border: 0px solid red; ">&nbsp;</div> 
            <div style="float: left; text-align: right; width: 35%; border: 0px solid red; ">Teweh, {{DTA.CreateTime | date:'dd-MMMM-yyyy'}}</div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div style="float:both;margin-bottom:10px;text-align:center;">
            <div style="float: left; width:40%">( Department Head ) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (DIvision Head)</div>
            <div style="float: left; width: 20%; border: 0px solid red;">&nbsp;</div> 
            <div style="float: left; width: 35%; text-align: right; border: 0px solid red; "></div>
        </div> 


    </div>
</div>