﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-y-0"><input type="button" class="btn-default" ng-click="Back2SPP()" value="Back to SPP" /> {{Title}}</h3>
    </div>
    <div class="panel-body">
        <div>
            <button class="btn btn-warning" ng-click="Back2SPP()"><span class="glyphicon glyphicon-back"></span></i> Back to SPP</button>
            &nbsp;&nbsp;
            <button id="btnEmailToSEM" class="btn btn-success" style="display:none;" disabled ng-click="ProgressToSEM()"><span class="glyphicon glyphicon-back"></span></i> Progress to SEM</button>
        </div>
        <br />
        <div class="row"> 
          
            <!--Data Grid-->
            <div class="">
                <script type="text/ng-template" id="actButton.html">
                    <div class="ui-grid-cell-contents" style="text-align:center;">
                        <button class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.DetailRequest(row.entity.RequestNo)">Show Detail</button>
                    </div>
                </script>
                <div ui-grid="gridOptions" class="uigrid" ui-grid-pagination ui-grid-move-columns ui-grid-exporter></div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="detailrequestModal" data-keyboard="false" data-backdrop="static" role="dialog">
                <div class="modal-dialog" style="max-height: 400px; width: 900px">
                   
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Request Detail Check For Approval</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div  class="modal-body">
                            <div style="max-height: 400px;" ui-grid="gridDetailRequest" class="uigrid" ui-grid-pagination ui-grid-move-columns ui-grid-exporter></div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-sm-12">
                                        <button ng-show="(IsPOP == true)" type="button" class="btn btn-labeled btn-facebook" ng-click="ApproveRequestPOP()" style="height:30px">
                                            Approve POP 
                                        </button>
                                        <button ng-show="(IsSEM == true)" type="button" class="btn btn-labeled btn-facebook" ng-click="ApproveRequestSEM()" style="height:30px">
                                            Approve SEM
                                        </button>
                                        <input type="hidden" id="reqid"/>
                                        <button type="button" class="btn btn-labeled btn-warning" ng-click="RejectRequest()" style="height:30px">
                                            Reject Request
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-5">Rejection Note</label>
                                        <div class="col-md-7"><input id="txtRejectionNotes" class="form-control" type="text"></div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>

