﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-y-0">{{Title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row"> 
          
            <!--Data Grid-->
            <div class="col-md-12">
                <script type="text/ng-template" id="actButton.html">
                    <div class="ui-grid-cell-contents" style="text-align:center;">
                        <button class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.SPPDetail(row.entity.SPPNo)">Progrees to Approve</button>
                    </div>
                </script>
                <div ui-grid="gridOptions" class="uigrid" ui-grid-pagination ui-grid-move-columns ui-grid-exporter></div>
            </div>           
            
        </div>
    </div>
</div>

