﻿<style>
    #bg {
        position: fixed;
        top: 55px;
        left: 40px;
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
    }
</style>
<div class="row" style="text-align: center; height:600px; ">
    <img src="images/bg.jpeg" id="bg" alt="">
    <div class="col-lg-4 ">

    </div>
    <div class=" panel-default centered">
        <div class="col-lg-4 ">
            <div class="login-panel panel panel-default" style="margin-top:150px;">
                <div class="panel-heading" >
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                  <div >
				  				  
                    <form role="form">
                        <fieldset>
                            <div style="margin-bottom: 15px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" type="text" class="form-control" name="username" ng-model="userName" placeholder="username" autofocus>
                            </div>
                            <div style="margin-bottom: 5px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" ng-model="Password" placeholder="password">                                
                            </div>
                             
                            <!--<div style="margin-top: 0px" class="checkbox pull-right">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>-->

                            <!--<div class="form-group">
                                <input class="form-control" placeholder="User Name" ng-model="account.username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" ng-model="account.password" type="password" value="">
                            </div>-->
                            <!--<div style="margin-top: 0px" class="input-group">
                                <div class="">
                                    <label>
                                        <a href="#!/ForgotPassword">Forgot password</a> 
                                    </label>
                                </div>
                            </div>-->
                            
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign in</button>
                            <div style="color:red">
                               {{message}} 
                            </div>                       

                        </fieldset>
                    </form>
				  </div>

                </div>
            </div>
        </div>

    </div>





</div>



