﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-y-0">{{Title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <!--Form Data-->
            <div class="form-group form-group-sm">
                <form class="form-horizontal" name="frmData">
                    <!--Nav Button-->
                    <div class="col-md-10 myNav" ng-show="!(AddMode || EditMode)">
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="AddNew()"><span class="glyphicon glyphicon-plus"></span></i> Add New</button>
                        </div>
                    </div>
                    <!--Form for Data entry-->
                    <div class="col-md-10" ng-show="(AddMode || EditMode)">
                        <!--Left Form Control-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">PO Number</label>
                                <div class="col-sm-9">
                                    <input id="RequestNo" name="RequestNo" ng-model="DTA.PONo" ng-disabled="true" class="form-control" type="text" maxlength="30" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;"  class="col-sm-3 control-label" for="date">PO Date</label>
                                <div class="col-sm-9">
                                    <input type="text" value="" id="PODate" class="form-control input-sm" placeholder="dd/MM/yyyy" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="date">Deadline Date</label>
                                <div class="col-sm-9">
                                    <input type="text" value="" id="PODeadline" class="form-control input-sm" placeholder="dd/MM/yyyy" />
                               </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">Vendor Name</label>
                                <div class="col-sm-9">
                                    <select ng-change="" ng-model="DTA.VendorID" ng-options="option.VendorID as option.VendorName for option in VendorList" class="form-control form-control-sm input-sm"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">PO Note</label>
                                <div class="col-sm-9">
                                    <textarea id="PONotes" name="PONotes" ng-model="DTA.PONotes" class="form-control" type="text"></textarea></div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">Posting</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-disabled="true" ng-checked="DTA.IsPost" ng-model="DTA.IsPost" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group form-group-sm">
                <form name="frmDetail" class="form-horizontal" ng-show="(AddMode || EditMode)">
                    <div class="col-md-10" ng-show="(AddMode || EditMode)">
                        <!--Left Form Control-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Request Detail</h4>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                <button class="btn btn-primary" ng-click="GetSearchData();">Search Request Detail List</button></label>
                                <div class="col-sm-9">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">Request No</label>
                                <div class="col-sm-9">
                                    <input id="RequestNo" ng-model="RequestNo" ng-disabled="true" name="RequestNo" type="text" placeholder="" class="form-control form-control-sm input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">Item Name</label>
                                <div class="col-sm-9">
                                    <select ng-model="ItemID" ng-disabled="true" ng-options="option.ItemID as option.ItemName for option in ItemList" class="form-control form-control-sm input-sm"></select>
                                 </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">Price (Rp) / Unit</label>
                                <div class="col-sm-9">
                                    <input id="Price" ng-model="Price" name="Price" type="text" placeholder="" class="form-control form-control-sm input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">Qty</label>
                                <div class="col-sm-9">
                                    <input id="RequestQty" ng-model="RequestQty" ng-disabled="true" name="RequestQty" type="text" placeholder="" class="form-control form-control-sm input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <button class="btn btn-primary" ng-click="addToList();">Add To List</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12" ng-show="(AddMode || EditMode)">
                        <table width="100%" class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions" id="myDataTable">
                            <thead>
                                <tr style=" background-color: #dddddd;">
                                    <th width="10%">No</th>
                                    <th width="20%">Material Name</th>
                                    <th width="10%">Price (Rp)</th>
                                    <th width="10%">Qty</th>
                                    <th width="30%">Desc</th>
                                    <th width="30%">Amount (Rp)</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd grade" ng-repeat="itemDetail in DataDetail">
                                    <td>{{$index + 1}}  </td>
                                    <td>{{itemDetail.ItemName}}</td>
                                    <td>{{itemDetail.Price}}</td>
                                    <td>{{itemDetail.RequestQty}}</td>
                                    <td>{{itemDetail.RequestDesc}}</td>
                                    <td>{{itemDetail.RequestQty * itemDetail.Price}}</td>
                                    <td>
                                        <button id="btDeleteUser" class="btn btn-danger btn-xs" ng-click="deleteDetail($index)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>


            <form class="form-horizontal" ng-show="(AddMode || EditMode)">
                <div class="form-group form-group-sm">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:3px;">
                            <div class="col-sm-8">
                                <button ng-show="!(DTA.IsPost == true)" ng-disabled="!(frmData.$valid)" class="btn btn-primary" ng-click="SaveData();">
                                    <div ng-switch on="isUpdate">
                                        <div ng-switch-when="true">Update</div>
                                        <div ng-switch-default>Save</div>
                                    </div>
                                </button>
                                <button class="btn btn-danger" ng-click="Cancel();">Cancel</button>
                                <button ng-show="(DTA.IsPost == true)" class="btn btn-primary" ng-click="printDocument('docPrint')" ng-show="isEditDetail"><span class="glyphicon glyphicon-print"></span> Print</button>
                                <div ng-show="btnPrintShow" ng-include="'modules/views/_PO.Print.view.html'" class="panel panel-default" style="margin-left: 10px;"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </form>

        <!-- Modal -->
        <div class="modal fade" id="popUpModal" role="dialog">
            <div class="modal-dialog" style="width:900px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <table width="100%" class="table table-striped table-bordered" datatable="ng" dt-options="gvm.LookupdtOptions">
                            <thead>
                                <tr>
                                    <th align="center" width="10%"># &nbsp;&nbsp;</th>
                                    <th align="center" width="20%">Request No</th>
                                    <th align="center" width="20%">Request Date</th>
                                    <th align="center" width="20%">Item Name</th>
                                    <th align="center" width="5%">Qty</th>
                                    <th align="center" width="25%">Desc</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd grade" ng-repeat="itemRequest in RequestDetPostData">
                                    <td align="center"><button class="btn btn-info btn-xs" ng-click="SelectReqDetData($index)">Select</button></td>
                                    <td align="center">{{itemRequest.RequestNo}}</td>
                                    <td align="center">{{itemRequest.RequestDate | date:'dd/MM/yyyy'}}</td>
                                    <td align="left">{{itemRequest.ItemName}} </td>
                                    <td align="center">{{itemRequest.RequestQty}} </td>
                                    <td align="center">{{itemRequest.RequestDesc}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


                        <!--Data Grid-->
                        <div class="col-md-10" ng-show="!(AddMode || EditMode)">
                            <script type="text/ng-template" id="actButton.html">
                                <div class="ui-grid-cell-contents" style="text-align:center;">
                                    <button ng-show="!(row.entity.IsPost == true)" class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.PostingConfirmation(row.entity.PONo)">Posting</button>
                                    <button class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.EditData(row.entity.PONo)">
                                        <div ng-show="!(row.entity.IsPost == true)">Edit</div>
                                        <div ng-show="(row.entity.IsPost == true)">View</div>
                                    </button>
                                    <button ng-show="!(row.entity.IsPost == true)" class="btn btn-googleplus btn-xs" type="button" ng-click="grid.appScope.DeleteConfirmation(row.entity.PONo)">Delete</button>
                                </div>
                            </script>
                            <div ui-grid="gridOptions" class="uigrid" ui-grid-pagination ui-grid-move-columns ui-grid-exporter></div>
                        </div>



                    </div>
        </div>
</div>

<script>
    $('.form_date').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        startDate: new Date()
    });

</script>