﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-y-0">{{Title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <!--Form Data-->
            <div class="form-group form-group-sm">
                <form class="form-horizontal" name="frmData">
                    <!--Nav Button-->
                    <div class="col-md-10 myNav" ng-show="!(AddMode || EditMode)">
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="AddNew()"><span class="glyphicon glyphicon-plus"></span></i> Add New</button>
                        </div>
                    </div>
                    <!--Form for Data entry-->
                    <div class="col-md-10" ng-show="(AddMode || EditMode)">
                        <!--Left Form Control-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">Request Number</label>
                                <div class="col-sm-9">
                                    <input id="RequestNo" name="RequestNo" ng-model="DTA.RequestNo" ng-disabled="true" class="form-control" type="text" maxlength="30" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;"  class="col-sm-3 control-label" for="date">Request Date</label>
                                <div class="col-sm-9">
                                    <input type="text" value="" id="RequestDate" class="form-control input-sm" placeholder="dd/MM/yyyy" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">Request By</label>
                                <div class="col-sm-9">
                                    <select ng-model="DTA.UserID" ng-options="option.UserID as option.UserName for option in UserList" class="form-control form-control-sm input-sm"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">Project</label>
                                <div class="col-sm-9">
                                    <select ng-model="DTA.ProjectID" ng-options="option.ProjectID as option.ProjectName for option in ProjectList" class="form-control form-control-sm input-sm"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group form-group-sm">
                <form name="frmDetail" class="form-horizontal" ng-show="(AddMode || EditMode)">
                    <div class="col-md-10" ng-show="(AddMode || EditMode)">
                        <!--Left Form Control-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Request Detail</h4>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label"><button ng-show="!(DTA.IsPost == true)" class="btn btn-primary" ng-click="GetSearchData();">Search Material List</button></label>
                                <div class="col-sm-9">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12" ng-show="(AddMode || EditMode)">
                        <table width="100%" class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions" id="myDataTable">
                            <thead>
                                <tr style=" background-color: #dddddd;">
                                    <th width="10%">No</th>
                                    <th width="15%">Material Code</th>
                                    <th width="25%">Material Name</th>
                                    <th width="15%">Qty</th>
                                    <th width="25%">Description</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd grade" ng-repeat="itemDetail in DataDetail">
                                    <td>{{$index + 1}}  </td>
                                    <td>{{itemDetail.ItemID}}</td>
                                    <td>{{itemDetail.ItemName}}</td>
                                    <td>
                                        <div style="text-align:right"><input ng-model="itemDetail.RequestQty" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control form-control-sm input-sm"></div>
                                    <td>
                                        <div style="text-align:right"><input ng-model="itemDetail.RequestDesc" type="text" class="form-control form-control-sm input-sm"></div>
                                    </td>
                                    <td>
                                        <button id="btDeleteUser" class="btn btn-danger btn-xs" ng-click="deleteDetail($index)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>


            <form class="form-horizontal" ng-show="(AddMode || EditMode)">
                <div class="form-group form-group-sm">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:3px;">
                            <div class="col-sm-8">
                                <button ng-show="!(DTA.IsPost == true)" ng-disabled="!(frmData.$valid)" class="btn btn-primary" ng-click="SaveData();">
                                    <div ng-switch on="isUpdate">
                                        <div ng-switch-when="true">Update</div>
                                        <div ng-switch-default>Save</div>
                                    </div>
                                </button>
                                <button class="btn btn-danger" ng-click="Cancel();">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </form>


                        <!--Data Grid-->
                        <div class="col-md-12" ng-show="!(AddMode || EditMode)">
                            <script type="text/ng-template" id="actButton.html">
                                <div class="ui-grid-cell-contents" style="text-align:center;">
                                    <button ng-show="!(row.entity.IsPost == true)" class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.PostingConfirmation(row.entity.RequestNo)">Posting</button>
                                    <button class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.EditData(row.entity.RequestNo)">
                                        <div ng-show="!(row.entity.IsPost == true)">Edit</div>
                                        <div ng-show="(row.entity.IsPost == true)">View</div>
                                    </button>
                                    <button ng-show="!(row.entity.IsPost == true)" class="btn btn-googleplus btn-xs" type="button" ng-click="grid.appScope.DeleteConfirmation(row.entity.RequestNo)">Delete</button>
                                </div>
                            </script>
                            <div ui-grid="gridOptions" class="uigrid" ui-grid-pagination ui-grid-move-columns ui-grid-exporter></div>
                        </div>


        <!-- Modal -->
        <div class="modal fade" id="popUpModal" role="dialog">
            <div class="modal-dialog" style="width:900px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <table width="100%" class="table table-striped table-bordered" datatable="ng" dt-options="gvm.LookupdtOptions">
                            <thead>
                                <tr>
                                    <th align="center" width="10%"># &nbsp;&nbsp;</th>
                                    <th align="center" width="15%">Material Code</th>
                                    <th align="center" width="25%">Item Name</th>
                                    <th align="center" width="20%">Merk</th>
                                    <th align="center" width="15%">Model</th>
                                    <th align="center" width="15%">Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd grade" ng-repeat="item in MaterialPostData">
                                    <td align="center"><button class="btn btn-info btn-xs" ng-click="addToList(item.ItemID)">Select</button></td>
                                    <td align="center">{{item.ItemID}}</td>
                                    <td align="left">{{item.ItemName}}</td>
                                    <td align="left">{{item.ItemMerk}}</td>
                                    <td align="left">{{item.ItemModels}}</td>
                                    <td align="left">{{item.UnitName}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>




                    </div>
        </div>
</div>



