﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-y-0">{{Title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row"> 
            <!--Form Data-->
            <div class="form-group form-group-sm">
                <form class="form-horizontal" name="frmData">
                    <!--Nav Button-->
                    <div class="col-md-10 myNav" ng-show="!(AddMode || EditMode)">
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="AddNew()"><span class="glyphicon glyphicon-plus"></span></i> Add New</button>
                        </div>
                    </div>
                    <!--Form for Data entry-->
                    <div class="col-md-10" ng-show="(AddMode || EditMode)">
                        <!--Left Form Control-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">Site Name</label>
                                <div class="col-sm-9">
                                    <input ng-model="DTA.SiteName" class="form-control" type="text" maxlength="30" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">Site Short Name</label>
                                <div class="col-sm-9">
                                    <input ng-model="DTA.SiteShortName" class="form-control" type="text" maxlength="12" required>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">Site Location</label>
                                <div class="col-sm-9">
                                    <textarea ng-model="DTA.SiteLocation" maxlength="200" class="form-control" cols="30" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">Company</label>
                                <div class="col-sm-9">
                                    <select ng-model="DTA.CompanyID" ng-options="option.CompanyID as option.CompanyName for option in CompanyList" class="form-control form-control-sm input-sm"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">Active</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="DTA.Active" ng-model="DTA.Active" />
                                        </label>
                                    </div>
                                </div>
                            </div>                             
                        </div>
                        <!--Right Form Control-->
                        <div class="col-md-6">
                            
                        </div>

                    </div>                         
                    <!--Save Button-->
                    <div class="col-md-10" ng-show="(AddMode || EditMode)">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="form-control-4"></label>
                                <div class="col-sm-9 saveNav">
                                    <button type="button" class="btn btn-labeled btn-facebook" ng-click="Save()" ng-disabled="!(frmData.$valid)">
                                        <span class=" btn-label">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>Save
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-warning" ng-click="Cancel()">
                                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Data Grid-->
            <div class="col-md-12" ng-show="!(AddMode || EditMode)" >
                <script type="text/ng-template" id="actButton.html">
                    <div class="ui-grid-cell-contents" style="text-align:center;">
                        <button class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.EditData(row.entity.SiteID)">Edit</button>
                        <button class="btn btn-googleplus btn-xs" type="button" ng-click="grid.appScope.DeleteConfirmation(row.entity.SiteID)">Delete</button>
                    </div>
                </script>
                <div ui-grid="gridOptions" class="uigrid" ui-grid-pagination ui-grid-move-columns ui-grid-exporter></div>
            </div>           
            
        </div>
    </div>
</div>

