﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-y-0">{{Title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <!--Form Data-->
            <div class="form-group form-group-sm">
                <form class="form-horizontal" name="frmData">
                    <!--Nav Button-->
                    <div class="col-md-10 myNav" ng-show="!(AddMode || EditMode)">
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="AddNew()"><span class="glyphicon glyphicon-plus"></span></i> Add New</button>
                        </div>
                    </div>
                    <!--Form for Data entry-->
                    <div class="col-md-10" ng-show="(AddMode || EditMode)">
                        <!--Left Form Control-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">SPP Number</label>
                                <div class="col-sm-9">
                                    <input id="SPPNo" name="SPPNo" ng-disabled="true" ng-model="DTA.SPPNo" class="form-control" type="text" maxlength="30" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">Created By</label>
                                <div class="col-sm-9">
                                    <select ng-model="DTA.UserID" ng-options="option.UserID as option.UserName for option in UserList" class="form-control form-control-sm input-sm"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">SPP Notes</label>
                                <div class="col-sm-9">
                                    <input id="SPPNote" name="SPPNote" ng-model="DTA.SPPNote" class="form-control" type="text" maxlength="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group form-group-sm">
                <form name="frmDetail" class="form-horizontal" ng-show="(AddMode || EditMode)">
                    <div class="col-md-10" ng-show="(AddMode || EditMode)">
                        <!--Left Form Control-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>SPP Detail</h4>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><button ng-show="!(DTA.IsPost == true)" class="btn btn-primary" ng-click="GetSearchData();">Search Request List</button></label>
                                <div class="col-sm-9">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12" ng-show="(AddMode || EditMode)">
                        <table width="100%" class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions" id="myDataTable">
                            <thead>
                                <tr style=" background-color: #dddddd;">
                                    <th width="10%">No</th>
                                    <th width="30%">Request No</th>
                                    <th width="50%">Project Name</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd grade" ng-repeat="itemDetail in DataDetail">
                                    <td>{{$index + 1}}  </td>
                                    <td>{{itemDetail.RequestNo}}</td>
                                    <td>{{itemDetail.ProjectName}}</td>
                                    <td>
                                        <button id="btDeleteUser" class="btn btn-danger btn-xs" ng-click="deleteDetail($index)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </form>
            </div>




            <form class="form-horizontal" ng-show="(AddMode || EditMode)">
                <div class="form-group form-group-sm">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:3px;">
                            <div class="col-sm-8">
                                <button ng-show="!(DTA.IsPost == true)" class="btn btn-primary" ng-click="SaveData();">
                                    <div ng-switch on="isUpdate">
                                        <div ng-switch-when="true">Update</div>
                                        <div ng-switch-default>Save</div>
                                    </div>
                                </button>
                                <button class="btn btn-danger" ng-click="Cancel();">Cancel</button>
                                <button ng-show="(DTA.IsPost == true)" class="btn btn-primary" ng-click="printDocument('docPrint')" ng-show="isEditDetail"><span class="glyphicon glyphicon-print"></span> Print</button>
                                <div ng-show="btnPrintShow" ng-include="'modules/views/_SPP.Print.view.html'" class="panel panel-default" style="margin-left: 10px;"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </form>


                        <!--Data Grid-->
                        <div class="col-md-8" ng-show="!(AddMode || EditMode)">
                            <script type="text/ng-template" id="actButton.html">
                                <div class="ui-grid-cell-contents" style="text-align:center;">
                                    <button ng-show="!(row.entity.IsPost == true)" class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.PostingConfirmation(row.entity.SPPNo)">Posting</button>
                                    <button class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.EditData(row.entity.SPPNo)">
                                        <div ng-show="!(row.entity.IsPost == true)">Edit</div>
                                        <div ng-show="(row.entity.IsPost == true)">View</div>
                                    </button>
                                    <button ng-show="!(row.entity.IsPost == true)" class="btn btn-googleplus btn-xs" type="button" ng-click="grid.appScope.DeleteConfirmation(row.entity.PONo)">Delete</button>
                                </div>
                            </script>
                            <div ui-grid="gridOptions" class="uigrid" ui-grid-pagination ui-grid-move-columns ui-grid-exporter></div>
                        </div>

        <!-- Modal -->
        <div class="modal fade" id="popUpModal" role="dialog">
            <div class="modal-dialog" style="width:900px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <table width="100%" class="table table-striped table-bordered" datatable="ng" dt-options="gvm.LookupdtOptions">
                            <thead>
                                <tr>
                                    <th align="center" width="10%"># &nbsp;&nbsp;</th>
                                    <th align="center" width="20%">Request No</th>
                                    <th align="center" width="30%">Request Date</th>
                                    <th align="center" width="40%">Project Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd grade" ng-repeat="itemRequest in RequestPostData">
                                    <td align="center"><button class="btn btn-info btn-xs" ng-click="addToList(itemRequest.RequestNo)">Select</button></td>
                                    <td align="center">{{itemRequest.RequestNo}}</td>
                                    <td align="center">{{itemRequest.RequestDate | date:'dd/MM/yyyy'}}</td>
                                    <td align="left">{{itemRequest.ProjectName}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>




                    </div>
        </div>
</div>

