﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-y-0">{{Title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row"> 
            <!--Form Data-->
            <div class="form-group form-group-sm">
                <form class="form-horizontal" name="frmData">
                    <!--Nav Button-->
                    <div class="col-md-8 myNav" ng-show="!(AddMode || EditMode)">
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="AddNew()"><span class="glyphicon glyphicon-plus"></span></i> Add New</button>
                        </div>
                    </div>
                    <!--Form for Data entry-->
                    <div class="col-md-10" ng-show="(AddMode || EditMode)">
                        <!--Left Form Control-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">User Name</label>
                                <div class="col-sm-9">
                                    <input ng-model="DTA.UserName" class="form-control" type="text" maxlength="100" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">User Full Name</label>
                                <div class="col-sm-9">
                                    <input ng-model="DTA.UserFullName" class="form-control" type="text" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">Password</label>
                                <div class="col-sm-9">
                                    <input ng-model="DTA.UserPass" title="Six or more characters" name="password" class="form-control" type="password" maxlength="100" minlength="6" title="Six or more characters">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">Confirm New Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control form-control-sm input-sm" id="confirmPassword"
                                           id="confirmPassword" name="confirmPassword" ng-model="DTA.TemporaryPass" minlength="6"
                                           title="Confirm password, Six or more characters" placeholder="" compare-to="Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">User Type</label>
                                <div class="col-sm-9">
                                    <select ng-model="DTA.UserTypeID" ng-options="option.UserTypeID as option.UserTypeName for option in UserTypeList" class="form-control form-control-sm input-sm"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-1">Email</label>
                                <div class="col-sm-9">
                                    <input ng-model="DTA.UserEmail" class="form-control" type="text" maxlength="100" required>
                                </div>
                            </div> 

                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">User Dept</label>
                                <div class="col-sm-9">
                                    <select ng-model="DTA.DeptID" ng-options="option.DeptID as option.DeptName for option in DeptList" class="form-control form-control-sm input-sm"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label" for="form-control-3">User Site</label>
                                <div class="col-sm-9">
                                    <select ng-model="DTA.SiteID" ng-options="option.SiteID as option.SiteName for option in SiteList" class="form-control form-control-sm input-sm"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">Is POP</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="DTA.IsPOP" ng-model="DTA.IsPOP" />
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">Is SEM</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="DTA.IsSEM" ng-model="DTA.IsSEM" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">Active</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="DTA.Active" ng-model="DTA.Active" />
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="text-align:left;" class="col-sm-3 control-label">RememberMe</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="DTA.RememberMe" ng-model="DTA.RememberMe" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <!--Right Form Control-->
                        <div class="col-md-6">
                            
                        </div>

                    </div>                         
                    <!--Save Button-->
                    <div class="col-md-8" ng-show="(AddMode || EditMode)">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="form-control-4"></label>
                                <div class="col-sm-9 saveNav">

                                    <button id="btnAdd" class="btn btn-labeled btn-facebook" ng-click="Save()" ng-show="AddMode" ng-disabled="!(frmData.$valid)">
                                        <span class=" btn-label">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>Save
                                    </button>
                                    <button id="btnUpdate" class="btn btn-labeled btn-facebook" ng-click="UpdateData()" ng-show="EditMode" ng-disabled="!(frmData.$valid)"><span class=" btn-label">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>Update
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-warning" ng-click="Cancel()">
                                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Data Grid-->
            <div class="col-md-12" ng-show="!(AddMode || EditMode)" >
                <script type="text/ng-template" id="actButton.html">
                    <div class="ui-grid-cell-contents" style="text-align:center;">
                        <button class="btn btn-facebook btn-xs" type="button" ng-click="grid.appScope.EditData(row.entity.UserID)">Edit</button>
                        <button class="btn btn-googleplus btn-xs" type="button" ng-click="grid.appScope.DeleteConfirmation(row.entity.UserID)">Delete</button>
                    </div>
                </script>
                <div ui-grid="gridOptions" class="uigrid" ui-grid-pagination ui-grid-move-columns ui-grid-exporter></div>
            </div>           
            
        </div>
    </div>
</div>

