﻿.outPopUp {
    position: absolute;
    top: 30px;
    right: 50%;
    border: 10px solid #ccc;
    border-radius: 50%;
    border-top: 10px solid #2d72e2;
    border-bottom: 10px solid #2d72e2;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 2;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}       
        
.uigrid {
        width: 100%;
        height: 700px;
}  
.ui-grid-top-panel {
    background: black;
    color: black;
 letter-spacing: .02rem;
    font-weight: normal;
    font-family:"Gill Sans", sans-serif;
}

.myNav {
    margin-left:15px;
}         
 
.saveNav {
    min-width:220px;
}     


.ui-grid-top-panel {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  background: #fff;
 
}  