﻿body {
}

 /*----Textbox validation----*/
    .ng-invalid {
        border-color: red;
        outline-color: red;
    }

    .ng-valid {
        border-color: green;
        outline-color: green;
    }

    .messages {
        font-size: smaller;
        padding-top: 5px;
        padding-bottom: 10px;
        color: red;
    }
 /*---End of Textbox validation----*/
 
         #outPopUp {
            position: absolute;
            border: solid 1px #808080;
            width: 175px;
            height: 45px;
            z-index: 15;
            top: 50%;
            left: 56%;
            margin: -100px 0 0 -150px;
            background: #f3f4f5;
            border-radius: 5px;
            background-image: url("../../images/loading.gif");
            background-repeat: no-repeat;
            background-size: 172px 20px;
            text-align: center;
            font-weight: bold;
        }

/* for Input File Type*/
    .input-file {
            position: relative;
            margin: 6px 6px 0;
        }
            /* Remove margin, it is just for stackoverflow viewing */
            .input-file .input-group-addon {
                border: 0px;
                padding: 0px;
            }

    .input-file .input-group-addon .btn {
        border-radius: 0 4px 4px 0;
    }

    .input-file .input-group-addon input {
        cursor: pointer;
        position: absolute;
        width: 72px;
        z-index: 2;
        top: 0;
        right: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
        background-color: transparent;
        color: transparent;
    }

    /* End of Input File Type*/

  /*  type Ahead  */
      .typeahead-demo .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
    }

        .typeahead-demo .custom-popup-wrapper > .message {
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            color: #868686;
        }

        .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
            position: static;
            float: none;
            display: block;
            min-width: 160px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }
    /* End of Type Ahead
        
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 4px 5px;  
    }
		 
    td {
        max-width: 0;
        overflow: hidden;
		 text-overflow: ellipsis;       
        white-space: nowrap;
    }
 */ 

    #notifyPanel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 30%;
        left: 0;
        margin: auto;
        /* styling */
        max-width: 100px;
        max-height: 100px; 
    }

.loading-image {
    position: absolute;
    top: 5px;
    left: 20px; 
    width:20px;
    height:20px;
    background-image: url("../images/load-img.gif");
    background-repeat: no-repeat;
}

/* Start of Datatable*/
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 1px 4px;  
    }
        
    table td {
		overflow: hidden;
        word-wrap: break-word;
        max-width: 100px;
        white-space: inherit;
    }

    .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
    }

    .dataTable > thead > tr > th[class*="sort"]::after{display: none}
    thead, th {text-align: center;}


/* End of Datatable*/