﻿.ui-dialog-titlebar-close {
    display: none;
}
 
 @page {
            size: auto;
            margin: 0mm;
        }

.mainDoc {
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.printTbl {
    font-size: small;
    border-collapse: collapse;
    width: 100%;
}

.printTbl th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}

.printTbl td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

 /*for Print Return - START*/ 
    #tbl-data table {
        font-family: arial, sans-serif;        
        border-collapse: collapse;        
        width: 100%;      
        
    }

    #tbl-data th {
        border: 1px solid #000;        
        text-align: center;        
        padding: 8px;        
        background-color: #dddddd;        
        font-size: 12px;
    }
    #tbl-data td {
        border: 1px solid #000;        
        text-align: left;        
        padding: 8px;              
        font-size: 11px;
    }
 /*for Print Return - END*/ 